body {
    background-color: #F5F5F5;
    height: auto;
    width: auto;
}

div#menu {
    background-color: #F5F5F5;
    height: 10%;
    width: 83%;
    margin-left: 9%;
    margin-top: 5%;
    position: relative;
    #border: dashed;
    float: left;
}

.divider {
    float: left;
    padding-top: 20px;
    margin-left: 145px;
    #border: dashed;
}

.divider_small {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

div#menu, a#rest, a#rightmost, a#leftmost {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: xx-large;
    color: black;
    text-decoration: none;
    display: block;
    float: left;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

div#menu a:hover {
    color: #CCCCCC;
}

div#menu a#rest {
    margin-left: 9%;
    margin-top: 5%;    
}

div#menu a#rightmost {
    margin-left: 9%;
    margin-top: 5%;
    margin-right: 4%;
}

div#menu a#leftmost {
    margin-left: 7%;
    margin-top: 5%;
    margin-right: 5%;
}

.logo {
    height: 20%;
    margin-left: 8%;
    float: left;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
    text-align: center;
    margin-top: -5px;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: -50px;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px; 
}

.container {
    background-color: #F5F5F5;
    height: 900px;
    width: 1000px;
    margin-left: 10%;
    margin-top: 1.5%;
    margin-bottom: 5%;
    #border: dotted;
    float: left;
}

.index_view {
    width: 100%;
    border: solid;
}

.row_1 {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 30px;
    #border: dotted;
}

.row_1_cf {
    position: relative;
    float: right;
    width: 38%;
    #border: dashed;
    background: url("../images/edited/food_text_2.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.row_1_cf img {
    width: 100%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;    
}

.row_1_cf img:hover {
    opacity: 0;
}

.row_2 {
    position: relative;
    float: left;
    width: 100%;
    padding-top: 15px; 
    #border: dotted;
}

.row_2_cf {
    position: relative;
    width: 38%;
    float: left;
    #border: dashed;
    background: url("../images/edited/food_text_1.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.row_2_cf img {
    width: 100%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;    
}

.row_2_cf img:hover {
    opacity: 0;
}

.about_view {
    width: 60%;
    border: solid;
    float: right;
    background-size: contain;
}

.about_food {
    width: 60%;
    border: solid;
    background-size: contain;
}

#footer {
    clear: both;
    border: 1px groove #aaaaaa;
    background: #7F7F7F;
    color: White;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
}