body {
    background-color: #F5F5F5;
    height: auto;
    width: auto;
}

div#menu {
    background-color: #F5F5F5;
    height: 10%;
    width: 83%;
    margin-left: 9%;
    margin-top: 5%;
    position: relative;
    #border: dashed;
    float: left;
}

.divider {
    float: left;
    padding-top: 20px;
    margin-left: 145px;
    #border: dashed;
}

.divider_small {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

div#menu, a#rest, a#rightmost, a#leftmost {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: xx-large;
    color: black;
    text-decoration: none;
    display: block;
    float: left;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

div#menu a:hover {
    color: #CCCCCC;
}

div#menu a#rest {
    margin-left: 9%;
    margin-top: 5%;    
}

div#menu a#rightmost {
    margin-left: 9%;
    margin-top: 5%;
    margin-right: 4%;
}

div#menu a#leftmost {
    margin-left: 7%;
    margin-top: 5%;
    margin-right: 5%;
}

.logo {
    height: 20%;
    margin-left: 8%;
    float: left;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
    text-align: center;
    margin-top: -5px;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: -50px;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px; 
}

.container, .container_rooms, .container_about {
    background-color: #F5F5F5;
    height: 900px;
    width: 1000px;
    margin-left: 10%;
    margin-top: 1.5%;
    margin-bottom: 5%;
    #border: dotted;
    float: left;
}

.container_rooms {
    height: 1700px;
}

.container_about {
    height: 750px;
}

.index_view {
    width: 100%;
    border: solid;
}

#about_food, #about_location {
    position: relative;
    height: 237px;
    width: 550px;
    background-image: url("../images/edited/food_1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border: solid;
}

#about_location {
    background-image: url("../images/edited/location_1.jpg");
    float: right;
    width: 631px;
    margin-top: 10px;
}

#about_cf, #about_cf_2, .rooms_cf, .rooms_cf_2, .rooms_cf_3 {
    float: left;
    position: relative;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

#about_cf img, #about_cf_2 img, .rooms_cf img, .rooms_cf_2 img, .rooms_cf_3 img{
    position: absolute;
    top: -240px;
    left: 570px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#about_cf img.top:hover, #about_cf_2 img.top:hover, .rooms_cf img.top:hover, .rooms_cf_2 img.top:hover, .rooms_cf_3 img.top:hover {
    opacity:0;
}

#about_cf_2 img {
    top: 15px;
    left: -95px;
}

.rooms_cf img {
    top: 10px;
    left: 40px;
}

.rooms_cf_2 img {
    top: 490px;
    left: -60px;
}

.rooms_cf_3 img {
    top: 970px;
    left: -160px;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    background-color: #CCCCCC;
}

p.left {
    font-size: 23px;
    text-align: left;
    text-height: auto;
    margin-left: 550px;
    padding-top: 7px;
}

.index_crane {
    height: 50%;
    margin-left: 290px;
}
